# Applied Machine Learning

### Question 4
#### Implement  a  Decision  Tree  model  in  Machine  Learningand  fit  the  model  towards  the regression to predict housing price. Use “melb_data.csv” dataset.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("melb_data.csv")

data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [3]:
data= data.dropna()
data = pd.concat([data, pd.get_dummies(data["Type"]), pd.get_dummies(data["Method"]), pd.get_dummies(data["Regionname"])], axis=1)
data = data.drop(["Suburb", "Address", "SellerG", "CouncilArea", "Type", "Method", "Regionname"], 1)
data['Date'] = [pd.Timestamp(x).timestamp() for x in data["Date"]]
data = data.dropna()
data.head()

,Rooms,Price,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,...,SP,VB,Eastern Metropolitan,Eastern Victoria,Northern Metropolitan,Northern Victoria,South-Eastern Metropolitan,Southern Metropolitan,Western Metropolitan,Western Victoria
1,2,1035000.0,1.459555e+09,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,...,0,0,0,0,1,0,0,0,0,0
2,3,1465000.0,1.491178e+09,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,...,1,0,0,0,1,0,0,0,0,0
4,4,1600000.0,1.459901e+09,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,...,0,1,0,0,1,0,0,0,0,0
6,3,1876000.0,1.467677e+09,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,...,0,0,0,0,1,0,0,0,0,0
7,2,1636000.0,1.470787e+09,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,...,0,0,0,0,1,0,0,0,0,0

In [4]:
X = data.drop("Price", 1)

In [5]:
y = data['Price']

In [6]:
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [7]:
X = data.drop(["Price","Date"], 1)
X

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,SP,VB,Eastern Metropolitan,Eastern Victoria,Northern Metropolitan,Northern Victoria,South-Eastern Metropolitan,Southern Metropolitan,Western Metropolitan,Western Victoria
1,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.00,1900.0,-37.80790,...,0,0,0,0,1,0,0,0,0,0
2,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.00,1900.0,-37.80930,...,1,0,0,0,1,0,0,0,0,0
4,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.00,2014.0,-37.80720,...,0,1,0,0,1,0,0,0,0,0
6,3,2.5,3067.0,4.0,2.0,0.0,245.0,210.00,1910.0,-37.80240,...,0,0,0,0,1,0,0,0,0,0
7,2,2.5,3067.0,2.0,1.0,2.0,256.0,107.00,1890.0,-37.80600,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,3,35.5,3757.0,3.0,2.0,1.0,972.0,149.00,1996.0,-37.51232,...,0,0,0,0,0,1,0,0,0,0
12206,3,6.8,3016.0,3.0,1.0,0.0,179.0,115.00,1890.0,-37.86558,...,0,1,0,0,0,0,0,0,1,0
12207,1,6.8,3016.0,1.0,1.0,1.0,0.0,35.64,1967.0,-37.85588,...,1,0,0,0,0,0,0,0,1,0
12209,2,4.6,3181.0,2.0,1.0,1.0,0.0,61.60,2012.0,-37.85581,...,0,0,0,0,0,0,0,1,0,0
12212,6,6.3,3013.0,6.0,3.0,2.0,1087.0,388.50,1920.0,-37.81038,...,0,1,0,0,0,0,0,0,1,0

In [8]:
u = np.mean(X)
std = np.std(X, axis = 0)
X = (X-u)/std

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX = scaler.fit_transform(X)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state=0)

In [11]:
model = DecisionTreeRegressor(random_state=10)

model.fit(X_train,y_train)

DecisionTreeRegressor(random_state=10)

In [12]:
y_pred_dt = model.predict(X_test)

In [13]:
print ("Prediction of testing data by decision tree for regression:", y_pred_dt)

Prediction of testing data by decision tree for regression: [ 980000.  536000. 1182500. ...  545000. 1050000.  880000.]

In [14]:
from sklearn.metrics import accuracy_score
accuracy_dt = model.score(X_test,y_test)
print("Accuracy of Decision Tree for Regression Model in %:",accuracy_dt*100)

Accuracy of Decision Tree for Regression Model in %: 66.09696010271888