# Applied Machine Learning

### Question 3
#### Implement a Polynomial Regression model in Machine Learning to fit the model. You can assume features/independent variables and dependent variable. You are required  to compare multiple and polynomial regression techniques by calculating each MSE value and determine which is better. Use “winequality-red.csv” dataset.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
import sklearn.metrics as sm

In [2]:
dataset = pd.read_csv ('winequality-red.csv')
dataset

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
dataset.isnull().sum() #checking missing valus

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [4]:
X = dataset.iloc[:, 0:11].values # selecting independent features
y = dataset.iloc[:, 11].values # selecting target feature

In [5]:
X

array([[ 7.4  ,  0.7  ,  0.   , ...,  3.51 ,  0.56 ,  9.4  ],
       [ 7.8  ,  0.88 ,  0.   , ...,  3.2  ,  0.68 ,  9.8  ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  3.26 ,  0.65 ,  9.8  ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  3.42 ,  0.75 , 11.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  3.57 ,  0.71 , 10.2  ],
       [ 6.   ,  0.31 ,  0.47 , ...,  3.39 ,  0.66 , 11.   ]])

In [6]:
y

array([5, 5, 5, ..., 6, 5, 6], dtype=int64)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=0)
#splitted dataset into train and test

In [8]:
X_train.shape #no. of rows and columns in training data in X-axis

(1279, 11)

In [9]:
X_test.shape #no. of rows and columns in testing data in X-axis

(320, 11)

In [10]:
y_train.shape

(1279,)

In [11]:
y_test.shape

(320,)

In [12]:
# instantiate or object
model = LinearRegression() # we are creating object of the linear regression clas
# fit
model.fit(X_train, y_train) #Training data set #Fitting the model

LinearRegression()

In [13]:
model.score(X_train, y_train)

0.3654519616206866

In [14]:
y_pred = model.predict(X_test)

In [15]:
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, y_pred), 2))
print("Mean squared error =", round(sm.mean_squared_error(y_test, y_pred), 2))
print("R2 score =", round(sm.r2_score(y_test, y_pred), 2))

Mean absolute error = 0.47
Mean squared error = 0.38
R2 score = 0.33

In [16]:
model.score(X_test, y_test)

0.3283887639580232

In [17]:
poly = PolynomialFeatures(degree=3)

X_train = poly.fit_transform(X_train)
X_test = poly.fit_transform(X_test)

model = LinearRegression()
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [18]:
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, y_pred), 2))
print("Mean squared error =", round(sm.mean_squared_error(y_test, y_pred), 2))
print("R2 score =", round(sm.r2_score(y_test, y_pred), 2))

Mean absolute error = 0.57
Mean squared error = 0.69
R2 score = -0.2

In [19]:
model.score(X_test, y_test)

-0.19895008669128078